<!-- Layout.html is a template-->
{% extends "layout.html" %}

<!-- everything between block content and endblock is used to replace content in the layout.html file -->
{% block content %}



<div class="row">
    <div class="col-md-4">
        <h2>My web site</h2>
        <p>These are some words about me.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Where I work</h2>
        <p>HSDC.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Things I've done</h2>
        <p>I've done lots of things.</p>
        
    </div>
</div>

<h2>Links</h2>

<a href="{{ url_for('home') }}">Home</a>
<a href="{{ url_for('about') }}">About</a>
<a href="{{ url_for('contact') }}">Contact</a>


{% endblock %}
